/* @https://fonts.google.com/specimen/Merriweather

@https://fonts.google.com/specimen/Lato */

* {
    padding: 0;
    margin: 0;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: #1A202C;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*
Lado esquerdo
*/
body section.esquerdo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-image: url(./assets/img/wallpaper.png);
}

/*
Lado direito
*/

body section.direito {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    color: #1A202C;
}

section.direito div#bem__vindo {
    margin-top: 110px;
    margin-left: 193px;
    margin-bottom: 39px;
}

section.direito div#login {
    margin-left: 193px;
    margin-bottom: 28px;

}

section.direito div#login input{
    width: 325px;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px ;
}

section.direito div#roda-pe {
    margin-left: 250px;
    margin-bottom: 50px;
}

section.direito div#roda-pe #roda-pe-a {
    color: #376cd7;
}

section.direito div#btn {
    display: flex;
    flex-direction: column;
    margin-left: 193px;
    text-decoration: none;
}

section.direito div#btn img {
    position: absolute;
    margin-top: 78px;
    margin-left: 57px;

}

section.direito div#btn #entrar {
    width: 347px;
    height: 50px;
    color: #FFFFFF;
    background-color: #04C35C;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

section.direito div#btn #google {
    width: 347px;
    height: 50px;
    color: #FFFFFF;
    background-color: #1A202C;
    border-radius: 5px;
    border: none;
    margin-bottom: 162px;
}


section.direito div#lembre__mim {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 193px;
    margin-bottom: 26px;
}

section.direito div#lembre__mim a {
    color: #376cd7;
}

section.direito div#lembre__mim #container__circulo{
    display: flex;
    align-items: center;
    gap: 11px;
    margin-right: 64px;
}

section.direito div#lembre__mim #circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E8E8E8;
}

/*
Responsividade
*/

@media screen and (max-width: 900px) {

    body {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        margin-left: -150px;
        color: #1A202C;
    }

    body section.esquerdo {
        display: none;
    }

    body section.direito {
        width: 100vw;
        height: 100vh;
        color: #1A202C;
    }

    

}